.content-a {
    color: red;
}



#title {
    font-size: 90px;
    font-weight: bold;
}

.ini-para {
    font-size: 20px;
    margin-top: 20px;
}

.biru {
    color: blue;
}

.kuning {
    color: yellow;
}

.merah {
    color: red;
}